{
  "check-coverage": true,
  "lines": 70,
  "statements": 70,
  "include": [
    "src/**/*.ts"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "html",
    "lcov"
  ],
  "all": true,
  "require": [
    "ts-node/register",
    "source-map-support/register"
  ],
  "spec": "/test/**/*.ts"
}